<div *ngIf="!isLoading" class="container">
  <app-pokemon-search></app-pokemon-search>
  <div class="d-flex align-items-stretch flex-wrap justify-content-evenly">
    <app-pokemon-list-item
      *ngFor="
        let curPokemon of displayedPokemon
          | slice: (page - 1) * pageSize:page * pageSize
      "
      [pokemon]="curPokemon"
      (clicked)="handlePokemonClicked($event)"
    ></app-pokemon-list-item>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="displayedPokemon.length"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="true"
    >
      <ng-template ngbPaginationPrevious (clicked)="reduceCurrentPage()"
        >Prev</ng-template
      >
      <ng-template ngbPaginationNext (clicked)="increaseCurrentPage()"
        >Next</ng-template
      >
    </ngb-pagination>
  </div>
</div>
