<div class="container">
  <div class="row">
    <div class="col-4 animate__animated animate__fadeInLeftBig">
      <img
        src="../../../assets/img/ash.png"
        draggable="false"
        alt="ash ketchum"
      />
    </div>
    <div class="col-8 my-auto animate__animated animate__fadeInRightBig">
      <form
        #createForm="ngForm"
        class="text-center"
        (ngSubmit)="onSubmit(createForm)"
      >
        <fieldset class="mb-3">
          <h1>What's your trainer name?</h1>
          <input
            class="form-control"
            type="text"
            id="trainerName"
            placeholder="Ash Ketchum"
            minlength="2"
            maxlength="100"
            name="trainerName"
            required
            [ngClass]="{
              'is-valid': trainerName.valid,
              'is-invalid':
                trainerName.invalid &&
                (trainerName.dirty || trainerName.touched)
            }"
            ngModel
            #trainerName="ngModel"
          />
          <div
            *ngIf="
              trainerName.errors &&
              trainerName.invalid &&
              (trainerName.dirty || trainerName.touched)
            "
          >
            <div class="invalid-feedback" *ngIf="trainerName.errors.required">
              A trainer name is required
            </div>
            <div class="invalid-feedback" *ngIf="trainerName.errors.minlength">
              Trainer name is too short
            </div>
          </div>
        </fieldset>
        <button class="btn btn-primary">Start!</button>
      </form>
    </div>
  </div>
</div>
