<div
  class="card mt-3 animate__animated animate__zoomIn"
  style="width: 18rem"
  (click)="onPokemonClicked()"
>
  <div
    *ngIf="isPlaceholder === true"
    class="spinner-border text-primary mt-5"
    role="status"
    style="align-self: center"
  ></div>
  <img
    class="card-img-top img animate__animated animate__fadeIn animate__delay-1s"
    src="{{ pokemon?.imgUrl }}"
    default="{{ pokemon?.fallbackImgUrl }}"
    alt="`{{ pokemon?.name }}
    image"
    (load)="isPlaceholder = false"
  />

  <div class="card-body" style="align-self: center">
    <h3>{{ pokemon?.name }}</h3>
  </div>
</div>
