.img {
  max-width: 150px;
  max-height: 150px;
  align-self: center;
  margin-top: 15px;
  --animate-delay: 0.3s;
}
.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(51, 18, 240, 0.35);
  cursor: pointer;
}
