<div class="container">
  <div *ngIf="isLoading === true" class="d-flex justify-content-center mt-5">
    <div
      *ngIf="isLoading === true"
      class="spinner-border text-primary mt-5"
      role="status"
      style="align-self: center"
    ></div>
  </div>

  <div class="d-flex justify-content-start mt-5">
    <div class="row animate__animated animate__fadeIn animate__delay-1s">
      <div class="col-4">
        <div *ngIf="isLoading === false" class="card text-center">
          <img
            class="card-img-top mx-auto mt-2 mb-2"
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/{{
              detailedPokemon?.id
            }}.svg"
            default="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{
              detailedPokemon?.id
            }}.png"
            alt="{{ detailedPokemon?.name }}"
            draggable="false"
          />
          <div class="card-body">
            <h2 class="card-title">{{ detailedPokemon?.name }}</h2>
            <p *ngIf="isSaved">Pokemon is in collection</p>
          </div>
        </div>
        <div class="mt-3">
          <button
            (click)="addPokemonToCollectionClick()"
            class="btn-lg btn-primary"
            [hidden]="isSaved"
          >
            <i class="bi bi-plus-circle"></i> Add to collection
          </button>
        </div>
      </div>
      <div class="col-6">
        <div *ngIf="isLoading === false" class="card text-center details-card">
          <div class="row">
            <div class="col-4">
              <div class="card-body">
                <h2 class="card-title">base stats:</h2>
                <ul class="card-text">
                  <li *ngFor="let stat of detailedPokemon?.stats">
                    {{ stat.stat.name }}: {{ stat.base_stat }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-4">
              <div class="card-body">
                <h2 class="card-title">profile:</h2>
                <ul class="card-text">
                  <li>height: {{ detailedPokemon?.height }}</li>
                  <li>weight: {{ detailedPokemon?.weight }}</li>
                  <li>base xp: {{ detailedPokemon?.base_experience }}</li>
                </ul>
              </div>
            </div>
            <div class="col-4">
              <div class="card-body">
                <h2 class="card-title">types:</h2>
                <ul class="card-text">
                  <li *ngFor="let type of detailedPokemon?.types">
                    {{ type.type.name }}
                  </li>
                </ul>
                <h2 class="card-title">Abilities:</h2>
                <ul class="card-text">
                  <li *ngFor="let ability of detailedPokemon?.abilities">
                    {{ ability.ability.name }}
                  </li>
                </ul>
              </div>
            </div>
            <button
              (click)="toggleIsMovesShown()"
              *ngIf="!isMovesShown"
              class="btn btn-primary mx-auto mb-3 moves-button"
            >
              <i class="bi bi-caret-down"></i> show learnable moves
            </button>
            <button
              (click)="toggleIsMovesShown()"
              *ngIf="isMovesShown"
              class="btn btn-primary mx-auto mb-3 moves-button"
            >
              <i class="bi bi-caret-up"></i> hide learnable moves
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isMovesShown" class="card mt-2 animate__animated animate__fadeIn">
    <div class="card-body">
      <div class="card-text">
        <article>
          <ul class="ul-moves">
            <li *ngFor="let move of detailedPokemon?.moves">
              {{ move.move.name }}
            </li>
          </ul>
        </article>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3 mb-3">
    <div class="row">
      <div class="col">
        <button (click)="handleReturnClick()" class="btn-lg btn-primary">
          <i class="bi bi-arrow-left-circle"></i> back to catalogue
        </button>
      </div>
    </div>
  </div>
</div>
