ul {
  list-style-type: none;
}

img {
  max-width: 250px;
  max-height: 250px;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.ul-moves {
  max-height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
}

.moves-button {
  max-width: 200px;
}
.details-card {
  min-width: 910px;
}

.row {
  --animate-delay: 0.3s;
}
