<div class="container fluid">
  <h3 class="text-center mt-3">Pokemon in your collection</h3>
  <div class="d-flex align-items-stretch flex-wrap justify-content-evenly">
    <app-pokemon-list-item
      *ngFor="
        let curPokemon of pokemonArray
          | slice: (page - 1) * pageSize:page * pageSize
      "
      [pokemon]="curPokemon"
      (clicked)="handlePokemonClicked($event)"
    ></app-pokemon-list-item>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="pokemonArray.length"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="true"
    >
      <ng-template ngbPaginationPrevious>Prev</ng-template>
      <ng-template ngbPaginationNext>Next</ng-template>
    </ngb-pagination>
  </div>
</div>
