@import "~bootstrap-icons/font/bootstrap-icons.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
input,
textarea,
select,
button {
  font-family: "Catamaran", sans-serif;
  text-transform: capitalize;
}

.invalid-feedback {
  display: block;
}

.card {
  border-top: 15px solid red;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

main {
  position: relative;
}

input {
  font-size: larger;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  padding: 5px;
}
