<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand fs-2" [routerLink]="['/']">Pokemon Trainer</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      *ngIf="currentUser !== undefined"
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active fs-4"
            aria-current="page"
            [routerLink]="['/catalogue']"
            >Catalogue</a
          >
        </li>
      </ul>

      <a class="navbar-text fs-4" [routerLink]="['/profile']">Profile</a
      >&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="navbar-text logout fs-4" (click)="handleLogout()">Logout</a>
    </div>
  </div>
</nav>
